.u-border-all {
  border: $base-border;
}
.u-border-top {
  border-top: $base-border;
}

.u-border-right {
  border-right: $base-border;
}

.u-border-bottom {
  border-bottom: $base-border;
}

.u-border-left {
  border-left: $base-border;
}
