.u-line-height-tightest {
  line-height: 1;
}

.u-line-height-tighter {
  line-height: 1.1;
}

.u-line-height-tight {
  line-height: 1.2;
}

.u-line-height-slight {
  line-height: 1.3;
}

.u-line-height-loose {
  line-height: 1.4;
}

.u-line-height-looser {
  line-height: 1.5;
}

.u-line-height-loosest {
  line-height: 1.6;
}
