.u-margin-0 {
  margin: 0;
}

.u-margin-1 {
  margin: $spacing-shortest;
}

.u-margin-2 {
  margin: $spacing-shorter;
}

.u-margin-3 {
  margin: $spacing-short;
}

.u-margin-4 {
  margin: $spacing-medium;
}

.u-margin-5 {
  margin: $spacing-big;
}

.u-margin-6 {
  margin: $spacing-bigger;
}

.u-margin-7 {
  margin: $spacing-biggest;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-top-1 {
  margin-top: $spacing-shortest;
}

.u-margin-top-2 {
  margin-top: $spacing-shorter;
}

.u-margin-top-3 {
  margin-top: $spacing-short;
}

.u-margin-top-4 {
  margin-top: $spacing-medium;
}

.u-margin-top-5 {
  margin-top: $spacing-big;
}

.u-margin-top-6 {
  margin-top: $spacing-bigger;
}

.u-margin-top-7 {
  margin-top: $spacing-biggest;
}

.u-margin-right-0 {
  margin-right: 0;
}

.u-margin-right-1 {
  margin-right: $spacing-shortest;
}

.u-margin-right-2 {
  margin-right: $spacing-shorter;
}

.u-margin-right-3 {
  margin-right: $spacing-short;
}

.u-margin-right-4 {
  margin-right: $spacing-medium;
}

.u-margin-right-5 {
  margin-right: $spacing-big;
}

.u-margin-right-6 {
  margin-right: $spacing-bigger;
}

.u-margin-right-7 {
  margin-right: $spacing-biggest;
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-margin-bottom-1 {
  margin-bottom: $spacing-shortest;
}

.u-margin-bottom-2 {
  margin-bottom: $spacing-shorter;
}

.u-margin-bottom-3 {
  margin-bottom: $spacing-short;
}

.u-margin-bottom-4 {
  margin-bottom: $spacing-medium;
}

.u-margin-bottom-5 {
  margin-bottom: $spacing-big;
}

.u-margin-bottom-6 {
  margin-bottom: $spacing-bigger;
}

.u-margin-bottom-7 {
  margin-bottom: $spacing-biggest;
}

.u-margin-left-0 {
  margin-left: 0;
}

.u-margin-left-1 {
  margin-left: $spacing-shortest;
}

.u-margin-left-2 {
  margin-left: $spacing-shorter;
}

.u-margin-left-3 {
  margin-left: $spacing-short;
}

.u-margin-left-4 {
  margin-left: $spacing-medium;
}

.u-margin-left-5 {
  margin-left: $spacing-big;
}

.u-margin-left-6 {
  margin-left: $spacing-bigger;
}

.u-margin-left-7 {
  margin-left: $spacing-biggest;
}
