<div class="m-brand-stripe [ u-bkg-color-warm-medium ]">
    <h2 class="m-brand-stripe__text">I'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITchaI'mGonnaGITcha</h2> 
</div>


<script>
$(document).ready(function() {


}
</script>
