<div class="m-definition [ u-padding-2 ]">
  <h2 class="m-definition__term [ u-padding-top-2 u-padding-bottom-2 u-text-align-center ]">
    <%= term %>
  </h2>
  <p class="m-definition__detail [ u-padding-top-2 u-padding-bottom-2 u-line-height-loose u-font-size-3 ]">
    <%= detail %>
  </p>
</div>

