<header class="m-header [ u-drop-shadow-faint ]">
  <div class="m-header__wrapper">
    <!-- insert disappear carat left here -->

    <a href="https://www.google.com">
      <!-- <img class="m-logo" src="#" alt="I'm gonna gitcha" /> -->
      <h1>I'm gonna GITcha.</h1>
    </a>

    <div class="m-header__toc">
      <ul>
        <li>
          <a href="#">section link</a>
        </li>
        <li>
          <a href="#">section link</a>
        </li>
        <li>
          <a href="#">section link</a>
        </li>
      </ul>
    </div>

  </div>
</header>
