.u-color-warm-light {
  color: $b-lt-warm;
}

.u-color-warm-medium {
  color: $b-md-warm;
}

// .u-color-warm-dark {
//   color: $b-dk-warm;
// }

// .u-color-neutral-light {
//   color: $b-lt-neutral;
// }

// .u-color-neutral-medium {
//   color: $b-md-neutral;
// }

.u-color-neutral-dark {
  color: $b-dk-neutral;
}

// .u-color-cool-light {
//   color: $b-lt-cool;
// }

// .u-color-cool-medium {
//   color: $b-md-cool;
// }

// .u-color-cool-dark {
//   color: $b-dk-cool;
// }

.u-color-white {
  color: $n-white;
}

.u-color-black {
  color: $n-black;
}

.u-color-gray-light {
  color: $n-lt-grey;
}

.u-color-gray-dark {
  color: $n-dk-grey;
}

